.head{
    padding: 20px 0; 
    color: #fff;  
}

.container {
  max-width: 85%;
  margin: auto;
}

.flexSB 
{
  display: flex;
  justify-content: space-between;
}


.logo{
    padding: 30px 0;
    line-height: 10px;
}

.logo span{
    font-size: 25px;
    letter-spacing: 1px;
}

.head .container .logo h1{
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 30px;
}

.social{
  font-size: 30px;
  padding: 30px;
}

.head .icon{
    margin-left: 10px;
}
/*__________________header__________________*/

header{ 
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 30px;
    position: relative;

  }

  header ul{
    padding: 25px 20px;
  }

  header li{
    margin-right: 40px;
  }

  header ul li a{
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;
    transition: 0.5s;
    margin-left: 20px;
  }

  header ul li a:hover{
    color: #1eb2a6;
  }
 

  .start{
    font-size: 25px;
    text-align: center;
    background-color: #1eb2a6;
    padding: 25px 60px;
    color: #fff;
    clip-path: polygon(10% 0, 100% 0 , 100% 100%, 0 100%);
  }

  .toggle{
    display: none;
 
  }

  @media screen and (max-width:768px) {
    .start{
      clip-path: none;
    }

    header{
      margin: 0;
      background-color: #1eb2a6;
      position: relative;
    }

    header ul.flexSB{
      display: none;
    }

    header ul li{
      margin-bottom: 20px;
    }

    .toggle{
      display: block;
      background: #1eb2a6;
      color: #fff;
      font-size: 30px;
      position: absolute;
      right: 30px;
      top: -20px;
      border: none;
      box-shadow: none;
     
    }

    .moblie-nav{
      position: absolute;
      top: 7vh;
      left: 0;
      width: 100%;
      background-color:#1eb2a6;
    }

    .social{
     display: flex;
     justify-content: space-between;

    }

    .logo h1{
      font-size: 20px;
    }

    .logo span{
      font-size: 18px;
      line-height: 20px;
    }


    
  }

