@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{ 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto' , sans-serif;
  background-color: #f8f8f8;
}


.container {
  max-width: 85%;
  margin: auto;
}

.flexSB 
{
  display: flex;
  justify-content: space-between;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

button{
  border: none;
}

.icon{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.30);
  color: #1eb2a6;
  transition: 0.5s;
}

.icon:hover{
  background-color:#1eb2a6 ;
  color: #fff;
  cursor: pointer;
}

.row{
  width: 50%;
}

button{
  padding: 17px 30px;
  background-color: #fff;
  color: #1eb2a6;
  font-weight: 600;
  border: none;
  margin: 30px 10px 0 0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgba(0 0 0 /15%); 
  font-size: 20px;
}

button i{
  margin-left: 20px;
}

button:hover{
  box-shadow: none;
 
}

.primary-btn{
  background-color: #1eb2a6;
  color: #fff;
}

#heading{
text-align: center;
padding: 40px 0;
}

#heading h3 {
  font-weight: 600px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1eb2a6;
}

#heading h1{
  font-size: 50px;
  font-weight: 600px;
  margin: 20px 0;
  text-transform: capitalize;
}

p{
  line-height: 40px;
  font-size: 25px;
}

.back{
  background-image: url(./components/img/about.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  padding-top: 30%;
  padding-right: 50px;
  color: #fff;
  text-align: center;
}

.back h1{
  font-size: 100;
  font-weight: 400;
}

.back h2{
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
}

.marigin{
  margin-top: 40.3%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-gap: 30px
}
.flex{
  display: flex;
}

.grid2 {
  display: flex;
  grid-template-columns: repeat(3 , 1fr);
  grid-gap: 30px
}

.grid3{
  display: grid;
  grid-template-columns: repeat(6 , 1fr);
  grid-gap: 10px
    
}
.padding{
  padding: 80px 0;
}
.shadow{
  box-shadow: 0 5px 25px -2px rgba(0 0 0 /9%);
  background-color: #fff;
}


@media screen and (max-width:768px) {
  .back{
    background-position: center;
    padding-top: 60%;
    height: 100vh;
  }
  

  .grid , .grid2 , .grid3{
    grid-template-columns: repeat(2 , 1fr);
  }

  .marigin{
    margin-top: 80%;
  }

  


  
}